/* mixins to make our lives easier */
/* use :

@include keyframes(fade){
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

*/
@-webkit-keyframes slideLeft {
  /* line 3, ../scss/_animations.scss */
  0% {
    -webkit-transform: translateX(-100%);
  }

  /* line 8, ../scss/_animations.scss */
  100% {
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes slideLeft {
  /* line 3, ../scss/_animations.scss */
  0% {
    -webkit-transform: translateX(-100%);
  }

  /* line 8, ../scss/_animations.scss */
  100% {
    -webkit-transform: translateX(0);
  }
}

@-o-keyframes slideLeft {
  /* line 3, ../scss/_animations.scss */
  0% {
    -webkit-transform: translateX(-100%);
  }

  /* line 8, ../scss/_animations.scss */
  100% {
    -webkit-transform: translateX(0);
  }
}

@-ms-keyframes slideLeft {
  /* line 3, ../scss/_animations.scss */
  0% {
    -webkit-transform: translateX(-100%);
  }

  /* line 8, ../scss/_animations.scss */
  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes slideLeft {
  /* line 3, ../scss/_animations.scss */
  0% {
    -webkit-transform: translateX(-100%);
  }

  /* line 8, ../scss/_animations.scss */
  100% {
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes fadeIn {
  /* line 16, ../scss/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 21, ../scss/_animations.scss */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  /* line 16, ../scss/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 21, ../scss/_animations.scss */
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  /* line 16, ../scss/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 21, ../scss/_animations.scss */
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  /* line 16, ../scss/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 21, ../scss/_animations.scss */
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  /* line 16, ../scss/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 21, ../scss/_animations.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bounce {
  /* line 30, ../scss/_animations.scss */
  0% {
    -webkit-transform: translateY(-1300%);
  }

  /* line 37, ../scss/_animations.scss */
  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes bounce {
  /* line 30, ../scss/_animations.scss */
  0% {
    -webkit-transform: translateY(-1300%);
  }

  /* line 37, ../scss/_animations.scss */
  100% {
    -webkit-transform: translateY(0);
  }
}

@-o-keyframes bounce {
  /* line 30, ../scss/_animations.scss */
  0% {
    -webkit-transform: translateY(-1300%);
  }

  /* line 37, ../scss/_animations.scss */
  100% {
    -webkit-transform: translateY(0);
  }
}

@-ms-keyframes bounce {
  /* line 30, ../scss/_animations.scss */
  0% {
    -webkit-transform: translateY(-1300%);
  }

  /* line 37, ../scss/_animations.scss */
  100% {
    -webkit-transform: translateY(0);
  }
}

@keyframes bounce {
  /* line 30, ../scss/_animations.scss */
  0% {
    -webkit-transform: translateY(-1300%);
  }

  /* line 37, ../scss/_animations.scss */
  100% {
    -webkit-transform: translateY(0);
  }
}

/* line 1, ../scss/_layout.scss */
body {
  background-color: black;
}

/* line 6, ../scss/_layout.scss */
p {
  font-family: 'Orbitron', sans-serif;
}

/* line 11, ../scss/_layout.scss */
.container {
  border: solid 1px black;
  background: #d78c75;
  /* Old browsers */
  background: -moz-linear-gradient(left, #d78c75 0%, #e7c89a 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #d78c75), color-stop(100%, #e7c89a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #d78c75 0%, #e7c89a 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #d78c75 0%, #e7c89a 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #d78c75 0%, #e7c89a 100%);
  /* IE10+ */
  background: linear-gradient(to right, #d78c75 0%, #e7c89a 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d78c75', endColorstr='#e7c89a',GradientType=1 );
  /* IE6-9 */
}

/* line 26, ../scss/_layout.scss */
.btt {
  float: right;
}

/* line 31, ../scss/_layout.scss */
.logo_pic {
  padding-top: 50px;
  display: block;
  margin: 0 auto;
}

/* line 38, ../scss/_layout.scss */
.row_1a {
  margin-top: 10px;
}

/* line 44, ../scss/_layout.scss */
.home-nav {
  background-color: transparent;
  padding-top: 50px;
  width: 300px;
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 960px) {
  /* line 44, ../scss/_layout.scss */
  .home-nav {
    width: 400px;
  }
}

/* line 60, ../scss/_layout.scss */
.home-nav-item {
  font-family: 'Orbitron', sans-serif;
  color: black;
  margin: 0;
  padding: 0px;
}

/* line 68, ../scss/_layout.scss */
.home-nav li a {
  color: black;
}

/* line 74, ../scss/_layout.scss */
.item_1 {
  font-size: 1.25em;
  padding: 0 5px 0 0;
}
@media screen and (min-width: 960px) {
  /* line 74, ../scss/_layout.scss */
  .item_1 {
    font-size: 1.75em;
    padding: 0 15px 0 0;
  }
}

/* line 87, ../scss/_layout.scss */
.item_2 {
  font-size: 1.5em;
  padding: 0 0 0 5px;
}
@media screen and (min-width: 960px) {
  /* line 87, ../scss/_layout.scss */
  .item_2 {
    font-size: 2em;
  }
}

/* line 99, ../scss/_layout.scss */
.item_3 {
  font-size: 2.25em;
  padding: 0 5px 0 0;
}
@media screen and (min-width: 960px) {
  /* line 99, ../scss/_layout.scss */
  .item_3 {
    font-size: 3.25em;
    padding: 0 15px 0 0;
  }
}

/* line 113, ../scss/_layout.scss */
.item_4 {
  font-size: .95em;
  width: 150px;
  text-align: left;
}
@media screen and (min-width: 960px) {
  /* line 113, ../scss/_layout.scss */
  .item_4 {
    font-size: 1.25em;
  }
}

/* line 126, ../scss/_layout.scss */
span {
  padding-left: 50px;
}

/* line 132, ../scss/_layout.scss */
nav {
  background-color: black;
  opacity: .6;
  margin-top: -35px;
  width: 100%;
  float: left;
}

/* line 142, ../scss/_layout.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 149, ../scss/_layout.scss */
nav ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 157, ../scss/_layout.scss */
nav li {
  display: inline-block;
  color: white;
  padding: 5px 10px;
  text-align: center;
}

/* line 166, ../scss/_layout.scss */
nav li a {
  color: white;
}

/* line 172, ../scss/_layout.scss */
.nav-item {
  width: 24%;
}

/* line 178, ../scss/_layout.scss */
.row_2 {
  margin-top: 20px;
}
@media screen and (min-width: 760px) {
  /* line 178, ../scss/_layout.scss */
  .row_2 {
    margin-top: 100px;
  }
}
@media screen and (min-width: 960px) {
  /* line 178, ../scss/_layout.scss */
  .row_2 {
    margin-top: 150px;
  }
}

/* line 192, ../scss/_layout.scss */
.row_2 img {
  width: 80%;
}

/* line 198, ../scss/_layout.scss */
.row_3 {
  margin-top: -10px;
}
@media screen and (min-width: 760px) {
  /* line 198, ../scss/_layout.scss */
  .row_3 {
    margin: 0;
  }
}

/* line 209, ../scss/_layout.scss */
.row_3 h2 {
  font-size: 12px;
  font-family: 'Orbitron', sans-serif;
  margin-left: 40%;
  line-height: 16px;
}
@media screen and (min-width: 760px) {
  /* line 209, ../scss/_layout.scss */
  .row_3 h2 {
    margin: 0;
    font-size: 18px;
    line-height: 36px;
  }
}
@media screen and (min-width: 960px) {
  /* line 209, ../scss/_layout.scss */
  .row_3 h2 {
    font-size: 24px;
    line-height: 48px;
  }
}

@media screen and (min-width: 760px) {
  /* line 231, ../scss/_layout.scss */
  .speed {
    line-height: 1.35em;
  }
}

/* line 240, ../scss/_layout.scss */
.row_4 {
  margin-top: 60px;
}
@media screen and (min-width: 760px) {
  /* line 240, ../scss/_layout.scss */
  .row_4 {
    margin-top: 350px;
  }
}
@media screen and (min-width: 960px) {
  /* line 240, ../scss/_layout.scss */
  .row_4 {
    margin-top: 450px;
  }
}

/* line 257, ../scss/_layout.scss */
.row_5,
.row_7 {
  margin-top: 60px;
}
@media screen and (min-width: 760px) {
  /* line 257, ../scss/_layout.scss */
  .row_5,
  .row_7 {
    margin-top: 75px;
  }
}
@media screen and (min-width: 960px) {
  /* line 257, ../scss/_layout.scss */
  .row_5,
  .row_7 {
    margin-top: 100px;
  }
}

/* line 273, ../scss/_layout.scss */
.row_6 {
  margin-top: 60px;
}
@media screen and (min-width: 760px) {
  /* line 273, ../scss/_layout.scss */
  .row_6 {
    margin-top: 350px;
  }
}
@media screen and (min-width: 960px) {
  /* line 273, ../scss/_layout.scss */
  .row_6 {
    margin-top: 450px;
  }
}

/* line 290, ../scss/_layout.scss */
.row_8,
.row_10 {
  margin-top: 40px;
}
@media screen and (min-width: 760px) {
  /* line 290, ../scss/_layout.scss */
  .row_8,
  .row_10 {
    margin-top: 125px;
  }
}
@media screen and (min-width: 960px) {
  /* line 290, ../scss/_layout.scss */
  .row_8,
  .row_10 {
    margin-top: 250px;
  }
}

@media screen and (min-width: 760px) {
  /* line 306, ../scss/_layout.scss */
  .row_9 {
    margin-top: 10px;
  }
}
@media screen and (min-width: 960px) {
  /* line 306, ../scss/_layout.scss */
  .row_9 {
    margin-top: 30px;
  }
}

/* line 321, ../scss/_layout.scss */
.row_4 h1,
.row_6 h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 3em;
  text-align: center;
}
@media screen and (min-width: 760px) {
  /* line 321, ../scss/_layout.scss */
  .row_4 h1,
  .row_6 h1 {
    font-size: 5em;
  }
}
@media screen and (min-width: 960px) {
  /* line 321, ../scss/_layout.scss */
  .row_4 h1,
  .row_6 h1 {
    font-size: 6em;
  }
}

/* line 341, ../scss/_layout.scss */
.row_5 h2,
.row_9 h2,
.row_11 h2 {
  line-height: 1.75em;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.25em;
  text-align: center;
}
@media screen and (min-width: 760px) {
  /* line 341, ../scss/_layout.scss */
  .row_5 h2,
  .row_9 h2,
  .row_11 h2 {
    font-size: 2em;
  }
}
@media screen and (min-width: 960px) {
  /* line 341, ../scss/_layout.scss */
  .row_5 h2,
  .row_9 h2,
  .row_11 h2 {
    font-size: 2.5em;
  }
}

/* line 361, ../scss/_layout.scss */
.row_9 p,
.row_11 p {
  font-family: 'Share Tech', sans-serif;
  font-size: 1em;
  text-align: center;
}
@media screen and (min-width: 760px) {
  /* line 361, ../scss/_layout.scss */
  .row_9 p,
  .row_11 p {
    font-size: 1.25em;
  }
}
@media screen and (min-width: 960px) {
  /* line 361, ../scss/_layout.scss */
  .row_9 p,
  .row_11 p {
    font-size: 1.75em;
  }
}

/* line 380, ../scss/_layout.scss */
.row_7 img {
  width: 60%;
  margin-left: 20%;
}
@media screen and (min-width: 760px) {
  /* line 380, ../scss/_layout.scss */
  .row_7 img {
    width: 80%;
    margin-left: 10%;
  }
}
@media screen and (min-width: 960px) {
  /* line 380, ../scss/_layout.scss */
  .row_7 img {
    width: 70%;
    margin-left: 15%;
  }
}

/* line 400, ../scss/_layout.scss */
.row_12 {
  margin-top: 100px;
}
@media screen and (min-width: 760px) {
  /* line 400, ../scss/_layout.scss */
  .row_12 {
    margin-top: 150px;
  }
}
@media screen and (min-width: 960px) {
  /* line 400, ../scss/_layout.scss */
  .row_12 {
    margin-top: 200px;
  }
}

/* line 418, ../scss/_layout.scss */
.row_13 {
  margin-top: -60px;
}

/* line 425, ../scss/_layout.scss */
.row_13 h4 {
  font-size: 1em;
  color: white;
  font-family: 'Iceland', cursive;
  text-align: center;
  border-top: solid 1px white;
  margin: 30px 0 25px 0;
  padding-top: 10px;
}
@media screen and (min-width: 760px) {
  /* line 425, ../scss/_layout.scss */
  .row_13 h4 {
    font-size: 1.25em;
  }
}
@media screen and (min-width: 960px) {
  /* line 425, ../scss/_layout.scss */
  .row_13 h4 {
    font-size: 1.75em;
  }
}

/* line 452, ../scss/_layout.scss */
.about h1,
.tech h1,
.share h1 {
  font-size: 24px;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}
@media screen and (min-width: 760px) {
  /* line 452, ../scss/_layout.scss */
  .about h1,
  .tech h1,
  .share h1 {
    font-size: 30px;
    color: #444;
  }
}
@media screen and (min-width: 960px) {
  /* line 452, ../scss/_layout.scss */
  .about h1,
  .tech h1,
  .share h1 {
    font-size: 36px;
  }
}

/* line 474, ../scss/_layout.scss */
.about h2,
.tech h2,
.buy h2,
.share h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  text-align: center;
}
@media screen and (min-width: 760px) {
  /* line 474, ../scss/_layout.scss */
  .about h2,
  .tech h2,
  .buy h2,
  .share h2 {
    font-size: 24px;
    line-height: 36px;
    color: #444;
  }
}
@media screen and (min-width: 960px) {
  /* line 474, ../scss/_layout.scss */
  .about h2,
  .tech h2,
  .buy h2,
  .share h2 {
    font-size: 24px;
    line-height: 36px;
  }
}

/* line 500, ../scss/_layout.scss */
.row_about_1,
.row_about_3,
.row_tech_1,
.row_tech_3,
.row_tech_5,
.row_tech_7 {
  margin-top: 30px;
}
@media screen and (min-width: 760px) {
  /* line 500, ../scss/_layout.scss */
  .row_about_1,
  .row_about_3,
  .row_tech_1,
  .row_tech_3,
  .row_tech_5,
  .row_tech_7 {
    margin-top: 100px;
  }
}

/* line 513, ../scss/_layout.scss */
.row_about_2,
.row_about_4 {
  margin-top: 10px;
}
@media screen and (min-width: 760px) {
  /* line 513, ../scss/_layout.scss */
  .row_about_2,
  .row_about_4 {
    margin-top: 40px;
  }
}

/* line 525, ../scss/_layout.scss */
.row_about_2 p,
.row_about_4 p {
  text-align: center;
  padding: 5px;
  font-size: 12px;
  line-height: 18px;
  font-family: "Verdana";
}
@media screen and (min-width: 760px) {
  /* line 525, ../scss/_layout.scss */
  .row_about_2 p,
  .row_about_4 p {
    font-size: 16px;
    line-height: 24px;
    color: #444;
    text-align: left;
  }
}
@media screen and (min-width: 960px) {
  /* line 525, ../scss/_layout.scss */
  .row_about_2 p,
  .row_about_4 p {
    font-size: 18px;
    line-height: 27px;
  }
}

/* line 552, ../scss/_layout.scss */
.row_about_5 {
  margin-top: 100px;
}

/* line 558, ../scss/_layout.scss */
.row_about_6 {
  margin-top: 30px;
}

/* line 564, ../scss/_layout.scss */
.row_about_7 {
  margin-top: 50px;
}

/* line 573, ../scss/_layout.scss */
.mail,
.message,
.btn {
  margin-top: 30px;
}

/* line 578, ../scss/_layout.scss */
.button {
  text-align: center;
}

/* line 587, ../scss/_layout.scss */
.tech p {
  text-align: center;
  padding: 5px;
  font-size: 12px;
  line-height: 18px;
}
@media screen and (min-width: 760px) {
  /* line 587, ../scss/_layout.scss */
  .tech p {
    font-size: 16px;
    line-height: 24px;
    color: #444;
  }
}
@media screen and (min-width: 960px) {
  /* line 587, ../scss/_layout.scss */
  .tech p {
    font-size: 18px;
    line-height: 27px;
  }
}

/* line 610, ../scss/_layout.scss */
.tech h2 {
  font-size: 16px;
  color: black;
}
@media screen and (min-width: 760px) {
  /* line 610, ../scss/_layout.scss */
  .tech h2 {
    font-size: 30px;
    color: #444;
  }
}
@media screen and (min-width: 960px) {
  /* line 610, ../scss/_layout.scss */
  .tech h2 {
    font-size: 36px;
  }
}

@media screen and (min-width: 960px) {
  /* line 629, ../scss/_layout.scss */
  .row_tech_1,
  .row_tech_2 {
    margin-top: 120px;
  }
}

@media screen and (min-width: 960px) {
  /* line 640, ../scss/_layout.scss */
  .row_tech_4,
  .row_tech_6,
  .row_tech_8 {
    margin-top: 20px;
  }
}

/* line 649, ../scss/_layout.scss */
.buy_btn {
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  display: block;
  text-align: center;
  border: solid 1px white;
}

/* line 661, ../scss/_layout.scss */
.buy h1,
.buy h2 {
  font-size: 20px;
  line-height: 30px;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}
@media screen and (min-width: 760px) {
  /* line 661, ../scss/_layout.scss */
  .buy h1,
  .buy h2 {
    font-size: 30px;
    color: #444;
  }
}
@media screen and (min-width: 960px) {
  /* line 661, ../scss/_layout.scss */
  .buy h1,
  .buy h2 {
    font-size: 36px;
  }
}

/* line 685, ../scss/_layout.scss */
.row_buy_1,
.row_buy_2,
.row_share_0 {
  margin-top: 20px;
}
@media screen and (min-width: 760px) {
  /* line 685, ../scss/_layout.scss */
  .row_buy_1,
  .row_buy_2,
  .row_share_0 {
    margin-top: 100px;
  }
}
@media screen and (min-width: 960px) {
  /* line 685, ../scss/_layout.scss */
  .row_buy_1,
  .row_buy_2,
  .row_share_0 {
    font-size: 150px;
  }
}

/* line 702, ../scss/_layout.scss */
.row_buy_3 {
  margin-top: 50px;
}
@media screen and (min-width: 760px) {
  /* line 702, ../scss/_layout.scss */
  .row_buy_3 {
    margin-top: 200px;
  }
}
@media screen and (min-width: 960px) {
  /* line 702, ../scss/_layout.scss */
  .row_buy_3 {
    font-size: 250px;
  }
}

/* line 718, ../scss/_layout.scss */
.row_buy_4 {
  margin-top: 25px;
}

/* line 723, ../scss/_layout.scss */
.butt_buy {
  width: 100%;
}

/* line 729, ../scss/_layout.scss */
.buy_btn {
  font-size: 16px;
  font-family: 'Orbitron', sans-serif;
  background-color: white;
  color: red;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 10px 15px;
  border: solid 2px red;
}
@media screen and (min-width: 760px) {
  /* line 729, ../scss/_layout.scss */
  .buy_btn {
    font-size: 30px;
    padding: 15px 40px;
  }
}
@media screen and (min-width: 960px) {
  /* line 729, ../scss/_layout.scss */
  .buy_btn {
    font-size: 40px;
    padding: 20px 50px;
  }
}

/* line 761, ../scss/_layout.scss */
.row_share_1 {
  margin-top: 20px;
}
@media screen and (min-width: 760px) {
  /* line 761, ../scss/_layout.scss */
  .row_share_1 {
    margin-top: 40px;
  }
}
@media screen and (min-width: 960px) {
  /* line 761, ../scss/_layout.scss */
  .row_share_1 {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1170px) {
  /* line 761, ../scss/_layout.scss */
  .row_share_1 {
    margin-top: 80px;
  }
}

/* line 785, ../scss/_layout.scss */
#data_container {
  margin-top: 100px;
  display: inline-block;
  text-align: center;
}

/* line 799, ../scss/_layout.scss */
.images img {
  margin: 0 10px 10px 0;
  border: solid 2px white;
  width: 60px;
  height: 60px;
}
@media screen and (min-width: 760px) {
  /* line 799, ../scss/_layout.scss */
  .images img {
    margin: 10px;
    width: 110px;
    height: 110px;
  }
}
@media screen and (min-width: 960px) {
  /* line 799, ../scss/_layout.scss */
  .images img {
    width: 130px;
    height: 130px;
  }
}
@media screen and (min-width: 1170px) {
  /* line 799, ../scss/_layout.scss */
  .images img {
    width: 150px;
    height: 150px;
  }
}

/* line 832, ../scss/_layout.scss */
.row_share_3 {
  margin-top: 100px;
}

/* line 838, ../scss/_layout.scss */
.row_share_4 {
  margin-top: 120px;
}

/* line 844, ../scss/_layout.scss */
.row_share_5 {
  margin-top: 50px;
}

/* line 851, ../scss/_layout.scss */
.row_share_6 {
  margin-top: 10px;
}

/* line 858, ../scss/_layout.scss */
.row_share_7 {
  margin-top: 100px;
}
