*{
	box-sizing: border-box;
}

body {

border:solid 1px white;
	
}

.container {
	border:solid 1px black;

//width:960px;
//height:1200px;

background: #d78c75; /* Old browsers */
background: -moz-linear-gradient(left,  #d78c75 0%, #e7c89a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d78c75), color-stop(100%,#e7c89a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #d78c75 0%,#e7c89a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #d78c75 0%,#e7c89a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #d78c75 0%,#e7c89a 100%); /* IE10+ */
background: linear-gradient(to right,  #d78c75 0%,#e7c89a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d78c75', endColorstr='#e7c89a',GradientType=1 ); /* IE6-9 */

;
}


.logo_pic {

	//width:50%;

	padding-top:50px;
}

.row_2 {

	margin-top:150px;
}

.row_3 h2{

	margin:0;
	padding:10px 0;
	font-family: 'Orbitron', sans-serif;
	font-size:2em;

}

.speed {

	line-height:1.25em;
}

.row_4 h1,
.row_6 h1 {

	margin-top:300px;
	padding:10px 0;
	font-family: 'Orbitron', sans-serif;
	font-size:4em;
}

.row_5 h3,
.row_9 h3,
.row_11 h3{

	margin-top:100px;
	padding:10px 0;
	font-family: 'Orbitron', sans-serif;
	font-size:2.5em;
	text-align:center;

}

.row_9 p,
.row_11 p {

font-family: 'Share Tech', sans-serif;
font-size:1.25em;

}

.row_7,
.row_8,
.row_10 {

	margin-top:125px;
}

.row_12 {

margin:50px;

}
